* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    min-height: 100svh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

/* main layout */

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(6px);
}

form {
    height: 50px;
    display: flex;
}

#mainSection {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#topSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
    align-items: center;
    margin: 2rem 0;
}

#bottomContent {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}

#sideContent {
    justify-self: center;
    justify-items: center;
    margin-bottom: 15%;
}

#mainContent {
    justify-self: center;
    border: 3px solid black;
    border-radius: 1rem;
}

/* item layout and styling */

input {
    padding: 7px;
    border-radius: 999px;
    border: none;
    padding-left: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
}

#fahrenheitBtn,
#celsiusBtn {
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1.5rem;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 6px;
}

.activeBtn {
    background-color: rgba(255, 255, 255, 0.377) !important;
}

#unitBtnContainer {
    display: flex;
    gap: 1rem;
}

#sideContent {
    text-align: center;
    padding: 3rem;
}

#sideContent h1 {
    font-size: 4rem;
}

#sideContent h3 {
    margin-top: 2.5rem;
    font-size: 2rem;
}

#mainContent {
    display: flex;
    align-items: center;
    justify-self: stretch;
    gap: 8rem;
    padding: 1.5rem 4rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(6px);
}

.container-column {
    display: flex;
    flex-direction: column;
}

#mainContent *,
.container-column * {
    font-size: 4.5rem;
    text-align: center;
    font-weight: bold;
    line-height: 3.5rem;
}

#feelsLike span:first-child {
    text-wrap: nowrap;
}

#feelsLike span:first-child,
#lowTemp span:first-child,
#highTemp span:first-child {
    font-size: 2.25rem;
}

#lowTemp,
#highTemp {
    margin-bottom: 1rem;
}

#bottomContent {
    text-align: center;
    font-weight: bold;
}

.weeklyForecastCard > div:last-child {
    font-size: 2rem;
}

.weeklyForecastCard > div:first-child {
    font-size: 1.25rem;
    text-wrap: nowrap;
}

.weeklyForecastCard {
    width: 100px;
    min-width: 50px;
}

/* these two statements are to help better center the svg icons */
.dailyIcon {
    margin-bottom: -2rem;
}

.weeklyForecastIcon {
    margin: -8px 0;
}

#forecastMessage {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.bottomSectionContainer {
    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(6px);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 6px 0;
    margin-bottom: 6rem;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoMessage {
    font-size: 2rem;
    font-weight: bold;
}

.logoContainer span:first-child {
    color: rgb(255, 255, 81);
}
.logoContainer :last-child {
    color: rgb(119, 218, 94);
}
